* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #cce7ff);
    color: #2f4f4f;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .freecodecamp-logo {
    height: 30px;
    margin-bottom: 20px;
  }
  
  .title {
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2f4f4f;
  }
  
  .palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: #ffffff;
    box-shadow: 0 6px 6px rgba(0, 128, 128, 0.3);
  }
  
  label {
    color: #2f4f4f;
    margin-bottom: 20px;
  }
  
  .palindrome-btn {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #008b8b;
    color: #fff;
    cursor: pointer;
  }
  
  .palindrome-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #008b8b;
  }
  
  .palindrome-input:focus {
    border-bottom: 3px solid #008b8b;
  }
  
  .palindrome-input::placeholder {
    text-align: center;
  }
  
  .user-input {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
  }
  
  .results-div {
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: #2f4f4f;
  }
  
  .hidden {
    display: none;
  }
  
  .palindrome-definition-div {
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #e0ffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .palindrome-definition {
    vertical-align: middle;
    text-align: center;
    color: #2f4f4f;
  }
  